*
!*.*
![mM]ake[fF]ile
!LICENSE
!LICENSE.*
![Rr][Ee][Aa][Dd][Mm][Ee]
![Rr][Ee][Aa][Dd][Mm][Ee].*

#-----------------------------------------------------------------------
# common
#-----------------------------------------------------------------------
*.[ao]
*.la
*.lo
*.so
*.dll
*.exe

/tmp/*
/lib/*
